body{
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 280px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 15px;
    border-color: white;
}

img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.close{
    margin-bottom: auto;
    align-self: flex-end;
    color: rgb(177, 176, 176);
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight:bolder;
}

.title{
    color: rgb(146, 145, 145);
    line-height 1em;
}

.button{
    width: 200px;
    height: 40px;
    border-radius: 20cm;
    background-color: black;
    color: white;
    margin-top: auto;
    text-align: center;
    line-height: 40px;
    
}

.button:hover{
    background-color: rgb(92, 93, 93);
}

